<!DOCTYPE html>
<html>
<head>
  <title>Blackjack.io</title>
  <!-- <link rel="stylesheet" href="styles/reset.css" /> -->
  
  <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="shortcut icon" href="../favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/87ea9562e2.css">
  <script src='/socket.io/socket.io.js'></script>
 <!-- <script src='/src/jquery.js'></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="overflow:hidden !important;position:fixed !important">
    <script>

   

        alert("Your screen resolution is: " + window.screen.width  + "x" + window.screen.height );


    </script>
	<div id="background">
		<img src='images/tableBackground.png'>
	</div>

<h1><span id="black">BLACK</span><span id="jack">JACK<span><span id="io">.io</span></h1>
<p class="user_name_list" style="display: none;"><%= user.username %></p>
<p class="user_price_list" style="display:none;"><%= user.price %></p>
<p class="id_list" style="display:none;"><%= user._id %></p>
<div style="width:100%" class="moneyStatus">
 <!-- <div style="width:30%"><p class="counttimer_down" style="visibility: hidden;">Time to Count</p></div> -->
</div>
<div class="circle_panel">
  <span style="font-size:12px">Place Your Bet</span>
</div>
<script src="/src/main.js"></script>
</body>
</html>
